@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #CD8021;
    border-radius: 8px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

ul {
    list-stype: none!important;
    padding-left: 0 !important;
}

.offcanvas-backdrop
{
    display: none!important;
}

.btn-close{
    display: none!important;
}

.modal-footer {
    justify-content: space-between !important;
    font-size: 0.6rem !important;
    padding: 0.75rem 1.5rem !important;
    margin: 0 !important;
}

.modal-footer p,
.modal-body p {
    margin-left: 0px !important;
}

.modal-footer{
    background-color: #FFFDE3 !important;
}
.modal-body {
    padding: 1.5rem !important;
    background-color: #FFFDE3 !important;
    border-radius: 1rem !important;
}

.modal-content{
    background-color: #FFFDE3 !important;

}
.modal-body p {
    font-size: 1rem !important;
}

.modal-dialog-centered {
    max-width: 400px !important;
    opacity: 1 !important;
}

.offcanvas-end {
    margin: 0px !important;
}

.margin-reset {
    margin-left: 0px !important;
}

.offcanvas-title {
    font-size: 0.875rem !important;
    font-weight: bold !important;
}

.offcanvas .offcanvas-end{
    width: 200px;
}

.popover-arrow:after {
    border-right-color: rgba(205, 128, 33, 0.95)!important;
}

.popover {
    margin-left: .75rem !important;

}

#overlay-basic > p{
    color: red !important;
}

.spinner-cor {
    color: #CD8021!important;
}